/*Estilização global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
/*Estilização comum*/
/*Seção topo*/
.secao-topo{/*Limitação do container topo*/
    width: 100vw;
    height: 45px;
    background-color: #fff;
}
.secao-topo-container{/*Limitação do container título*/
    width: 1024px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    color: #3d3d3d;
}
.secao-topo-container a{/*Limitação do container link*/
    padding: 10px; 
    text-decoration: none;
}

/*Seção banner*/
.secao-banner{
    background: url('../assets/img-fundo.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.secao-banner .conteudo{
    border: 1px solid blue;
    width: 600px;
    padding: 10px;
    text-align: center;
}